$color-orange: #EF6C00;
$color-orange-1: #FF6600;
$color-orange-2: #DB6300;
$color-orange-3: #C0661C;
$color-green: #32BF00;
$color-gray: #DDDDDD;
$color-gray-1: #CFCFCF;
$color-black: #262A34;
$color-white: #FFFFFF;
$color-red: #CC3300;