@import '../../Globals/colors.scss';

.Display {
  &__Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  &__Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__First {
    font-size: 3.6rem;
    letter-spacing: -1px;
    background-image: linear-gradient(to top, $color-orange, $color-orange-2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__Trace {
    background-color: $color-gray-1;
    width: 25.5rem;
    height: .1rem;
    margin-top: 1rem;
  }

  &__Content {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__Message {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  &__Message--green {
    color: $color-green;
  }

  &__Message--red {
    color: $color-red;
  }

  &__Number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    letter-spacing: -1px;
    text-align: center;
  }

  &__Box--1,
  &__Box--2,
  &__Box--3 {
    position: relative;
    height: 14.5rem;
    width: 6.5rem;
  }

  &__Box--3,
  &__Box--2 {
    margin-left: 3rem;
  }

  &__Segment--A,
  &__Segment--B,
  &__Segment--C,
  &__Segment--D,
  &__Segment--E,
  &__Segment--F,
  &__Segment--G {
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: $color-gray;
  }

  &__red &__Span {
    background-color: $color-red
  }
  &__green &__Span {
    background-color: $color-green;
  }

  &__Span {
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: $color-black;
    height: 200%;
    width: 200%;
  }

  &__Segment--A,
  &__Segment--D,
  &__Segment--G {
    width: 7rem;
    height: 1.5rem;
  }

  &__Segment--A {
    clip-path: polygon(100% 0, 100% 15%, 80% 100%, 20% 100%, 0 15%, 0% 0%);

  }

  &__Segment--D {
    clip-path: polygon(80% 0, 100% 85%, 100% 100%, 0 100%, 0 85%, 20% 0);
  }

  &__Segment--G {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%, 15% 0);
    height: 1.7rem;
  }
  
  &__Segment--B,
  &__Segment--C,
  &__Segment--E, 
  &__Segment--F {
    height: 7rem;
    width: 1.5rem;;
  }

  &__Segment--B,
  &__Segment--C {
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 85% 100%, 0 80%, 0 20%);

  }

  &__Segment--E, 
  &__Segment--F {
    clip-path: polygon(15% 0, 100% 20%, 100% 80%, 15% 100%, 0 100%, 0 0);

  }

  &__Segment--A {
    top: 0%;
    left: 50%;
  }
  
  &__Segment--B {
    right: 0;
    top: 0;
    top: 21%;
    left: 100%;
  }
  
  &__Segment--C {
    top: 74%;
    left: 100%;
  }
  
  &__Segment--D {
    bottom: -5%;
    left: 50%;
  }
  
  &__Segment--E {
    top: 74%;
    left: 0%;
  }
  
  &__Segment--F {
    top: 21%;
    left: 0%;
  }
  
  &__Segment--G {
    bottom: 41%;
    left: 50%;
  }
 
  // LOGICA DOS LEDS
  &__Ligth--0 &__Span--G {
    opacity: 0;
  }

  &__Ligth--1 &__Span--A,
  &__Ligth--1 &__Span--D,
  &__Ligth--1 &__Span--E,
  &__Ligth--1 &__Span--F, 
  &__Ligth--1 &__Span--G {
    opacity: 0;
  }

  &__Ligth--2 &__Span--C,
  &__Ligth--2 &__Span--F {
    opacity: 0;
  }

  &__Ligth--3 &__Span--E,
  &__Ligth--3 &__Span--F {
    opacity: 0;
  }

  &__Ligth--4 &__Span--A,
  &__Ligth--4 &__Span--D,
  &__Ligth--4 &__Span--E {
    opacity: 0;
  }

  &__Ligth--5 &__Span--B,
  &__Ligth--5 &__Span--E {
    opacity: 0;
  }

  &__Ligth--6 &__Span--B {
    opacity: 0;
  }

  &__Ligth--7 &__Span--D,
  &__Ligth--7 &__Span--E,
  &__Ligth--7 &__Span--F,
  &__Ligth--7 &__Span--G {
    opacity: 0;
  }

  &__Ligth--9 &__Span--E {
    opacity: 0;
  }

  &__hidden {
    display: none;
  }

  &__Footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Input {
    padding: 0 1rem;
    width: 21.7rem;
    height: 4.2rem;
    border: 1px solid $color-gray-1;
    font-size: 1.2rem;
    border-radius: .3rem;
    margin-right: 2rem;

    &:focus {
      outline: 1px solid $color-orange-1;
      &:read-only  {
        outline: none;
      }
    }
  }

  &__Btn {
    padding: 1.35rem 1.62rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    font-weight: 700;
    border: none;
    color: $color-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: all .3s;

    &:hover {
      opacity: .8;
    }
  }

  &__Btn--Orange {
    background-image: linear-gradient(to bottom, $color-orange,$color-orange-3);
  }

  &__Btn--Gray {
    background-image: linear-gradient(to bottom, #434854,#9E9E9E);
    margin-top: 3rem;
  }

  &__Btn--disable {
    background-color: $color-gray;

    &:hover {
      opacity: 1;
    }
  }

  &__Icon {
    font-size: 2rem;
    color: $color-white;
    margin-right: .5rem;
  }
}

